# Copy this file to .env and fill in real values

MONGO_URL=mongodb+srv://bantiprajapati778_db_user:Secretbanti2026@cluster0.2mukljs.mongodb.net/home_services?retryWrites=true&w=majority
DB_NAME=home_services
JWT_SECRET=DHDVJDNDJNCVJXNSHSWHSNSJ
JWT_EXPIRE_MINUTES=10080